.body {
    font-family: "Roboto", sans-serif;
}

.header {
    text-align: center;
}

.header_nav {
    background-color: #b3b3b3;
}

.h1 {
    text-align: center;
}

.nav__links {
    display: none;
    list-style: none;
    align-items: center;
    gap: 1.5rem;
    display: flex;
}

.link {
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover {
    color: #ffffff;
}


section {
    display: flex;
}

article {
    background-color: #ffffff;
    width: 70%;

}

aside {
    width: 30%;
    background-color: #ffffff;
}



.gambar {
    height: 100vh;
    background-image: linear-gradient(rgba(141, 202, 255, 0.5),
            rgba(141, 202, 255, 0.5)),
        url("img/newsroom.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #b3b3b3;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

}